logs/*
core/logs/*
__pycache__/
.env
*.db
package-*.json
file_baru.txt
skills/__pycache__/
interfaces/__pycache__/
interfaces/*.json
memory_store/*
guidelines/*
scratch/*
projects/*
data/sample-schema.json
data/memory_store/*
test_*